@model Projent_NOTZA.Models.TypeBook

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<br />
<br />

<h3>คุณแน่ใจไหมว่าต้องการลบสิ่งนี้</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อประเภท
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type_Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
